@import "./globals/_variables";

.about-short-section {
  display: grid;
  place-items: center;
  padding: 80px 16px;
  margin-top: 109px;

  .about-short-content {
    width: 100%;
    max-width: $max-content-w;

    display: flex;
    gap: 40px;

    .image {
      width: 50%;
      min-height: 450px;
      background-image: url(../../assets/images/about.jpg);
      background-size: cover;
      background-position: center;
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      width: 50%;

      h1 {
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 16px;
      }
    }
  }
}

/* Media query for tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .about-short-section {
    .about-short-content {
      flex-direction: column;

      .image {
        width: 100%;
        min-height: 20rem;
        background-size: cover;
        background-position: top center;
      }

      .text-wrapper {
        width: auto;
      }
    }
  }
}

/* Media query for mobile devices (max-width: 768px) */
@media (max-width: 768px) {
}
