.testimonial-slider {
  width: 100%;

  .slick-slide.slick-current {
    padding: 0 10px;

    .testimonial-card {
      opacity: 1;
    }
  }

  .testimonial-card {
    background-color: #fff;
    opacity: 0.6;
    border-radius: 16px;
    min-height: 200px;
    padding: 20px;

    transition: 0.3s;
  }

  .slick-prev {
    left: 45%;
    top: unset;
    bottom: -50px;
  }

  .slick-next {
    right: 45%;
    top: unset;
    bottom: -50px;
  }

  .slick-dots {
    bottom: -40px;
  }
}
