@import "./globals/_variables";

.top-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  padding-top: 16px;
  padding-bottom: 50px;
  z-index: 5;
  background: linear-gradient(to bottom, #000000af, #ffffff00);

  .menu-btn {
    display: none;
  }

  .top-nav {
    width: 100%;
    max-width: $max-content-w;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-logo {
      height: 80px;
      filter: brightness(1.4);
    }

    .site-links {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 16px;

      .link-item {
        .site-link {
          text-decoration: none;
          padding: 4px 0;
          transition: color 0.2s ease-in-out;

          &.active {
            color: #c0e0b6;
            border-bottom: 5px solid $acc-color;

            &:hover {
              color: #c0e0b6;
              border-bottom: 5px solid $acc-color;
              filter: brightness(1);
            }
          }

          &:hover {
            color: $acc-color;
            filter: brightness(1.5);
          }
        }
      }
    }
  }

  &.dark {
    position: relative;
    border-bottom: 1px solid #8ab18c42;

    .top-nav {
      .site-logo {
        filter: brightness(1);
      }
      .site-links {
        .link-item {
          .site-link {
            color: $txt-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .top-header {
    position: fixed;
    justify-content: flex-end;
    padding: 16px;
    transition: 0.2s;
    background: none;
    background-color: #00000017;
    backdrop-filter: blur(10px);

    &.open {
      background-color: $txt-color;
    }

    .menu-btn {
      position: absolute;
      top: 28px;
      right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 32px;
      height: 28px;
      background-color: transparent;
      border: none;
      z-index: 20;
      cursor: pointer;

      .btn-line {
        width: 100%;
        height: 3px;
        background-color: $bg-color;
        transition: rotate 0.2s ease;
      }

      &.close {
        right: 8px;
        .btn-line {
          &:nth-child(1) {
            transform: translateY(18px);
            rotate: 45deg;
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            transform: translateY(-18px);
            rotate: -45deg;
          }
        }
      }
    }

    .top-nav {
      .site-logo {
        position: relative;
        height: 56px;
        filter: brightness(4);
        z-index: 20;
      }

      .site-links {
        height: 0px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        background-color: $txt-color;
        z-index: 10;
        transition: 0.2s ease;

        .link-item {
          display: none;

          .site-link {
            font-size: 28px;

            &.active {
              border-bottom: 4px solid $acc-color;
            }
          }
        }

        &.open {
          height: 100dvh;
          justify-content: center;
          gap: 15%;
          padding: 40px 16px;
          padding-top: 86px;

          button {
            width: 100% !important;
            font-size: 24px;
          }

          .link-item {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
