@import "../../style/globals/_variables";

.service-selections-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 120px 16px;

  .service-selections-content {
    width: 100%;
    max-width: $max-content-w;
    display: flex;
    gap: 120px;

    .services-list {
      list-style-type: none;
      column-count: 2;
      column-gap: 40px;

      li {
        a {
          text-decoration: none;
        }
      }

      .service-article {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #daf0da;
        overflow: hidden;
        margin-bottom: 40px;

        .service-img-container {
          position: relative;
          width: 100%;
          height: 300px;
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #47c94d8e;
            mix-blend-mode: darken;
          }

          .service-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .service-text-container {
          width: 100%;
          padding: 28px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 32px;

          .heading-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .cta-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            &.right {
              align-items: flex-end;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .service-selections-section {
    .service-selections-content {
      .services-list {
        .service-article {
          .service-text-container {
            min-height: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .service-selections-section {
    .service-selections-content {
      justify-content: center;
      .services-list {
        column-count: 1;

        .service-article {
          max-width: 700px;

          .service-text-container {
            min-height: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .service-selections-section {
    padding: 40px 8px;
    .service-selections-content {
      gap: 40px;

      .services-list {
        .service-article {
          .service-img-container {
            height: 300px;
            .service-img {
              object-position: center bottom;
            }
          }

          .service-text-container {
            padding: 24px 16px;
          }
        }
      }
    }
  }
}
