@import "../globals/_variables";
@import "../globals/global.scss";

.specific-service-hero {
  position: relative;
  width: 100%;
  height: 80vh;
  min-height: 700px;
  display: flex;
  justify-content: center;
  padding: 80px 16px;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #218041da;
    mix-blend-mode: multiply;
  }

  .specific-service-hero-content {
    width: 100%;
    max-width: $max-content-w;
    display: flex;
    justify-content: center;
    align-items: center;

    .heading-container {
      position: relative;
      width: 100%;
      // max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 24px;
      z-index: 2;
    }
  }
}

.specific-service-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 120px 16px;

  .specific-service-content {
    width: 100%;
    max-width: $max-content-w;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;

    .content-container {
      width: 100%;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .tag {
        width: 120px;
        height: 10px;
        background-color: $acc-color;
        margin-bottom: 16px;
      }

      .accordion-item {
        width: 100%;
        // border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 6px;

        .accordion-header {
          width: 100%;
          padding: 15px;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #fff;

          .accordion-icon {
            font-size: 24px;
            transition: transform 0.3s ease;
            color: $acc-color;
          }
        }

        .accordion-content {
          padding: 15px;
          // border-top: 1px solid #ccc;
          background-color: #fff;
        }

        &.open {
          .accordion-header {
            background-color: $prim-color;
          }
        }
      }

      ul {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 635px) {
  .specific-service-hero {
    padding: 0 8px;
  }

  .specific-service-section {
    padding: 40px 8px;
  }
}
