.about-content-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 120px;
  
    .content {

        .contact-form-section {
            
            width: 100%;
            max-width: 1000px;

            padding: 80px 16px;

            form {
                
                display: flex;
                flex-direction: column;
            
                width: 100%;
                
                .double-input-row {
                    display: flex;
                    gap: 1rem;
                    .left, .right {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                    }
                }
                
                label {
                    margin-bottom: 4px;
                }

                input, textarea {
                    margin-bottom: 16px;
                    width: 100%;
                    
                    border: none;
                }

                input {
                    padding: .8rem .8rem .8rem .2rem;
                }

                textarea {
                    resize: none;
                    
                    padding: .2rem .8rem .8rem .2rem;
                }
            }
        }
    }

}