@import "../globals/_variables";

.contact-form-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $prim-color;

  .content {
    width: 100%;
    max-width: $max-content-w;
    padding: 120px 16px;
    display: flex;
    justify-content: center;

    .contact-info {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .info-container {
        display: flex;
        gap: 28px;

        .info-icon {
          width: 32px;
          height: 32px;
          font-size: 32px;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }
    }

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 60%;

      .double-input-row {
        display: flex;
        gap: 24px;
        .left,
        .right {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }

      label {
        margin-bottom: 8px;
        font-family: $heading-font;
        font-size: $l-card-para;
        letter-spacing: 1.4px;
        color: $prim-color-dk;
      }

      input,
      textarea {
        margin-bottom: 24px;
        width: 100%;
        background-color: transparent;
        border: 1px solid $prim-color-dk;
        border-radius: 6px;
        font-size: $l-para;
        font-family: $para-font;
        font-weight: 400;
        color: $txt-color;
        padding: 12px 10px;

        &:focus {
          outline: none;
          border: 2px solid $acc-color;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      textarea {
        resize: none;
      }

      .confirm-msg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 80px 20px;
        background-color: #c2d8b3d8;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          padding: 40px;
          border-radius: 16px;
          background-color: $bg-color;
          box-shadow: 0 10px 15px rgba(1, 85, 8, 0.2);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-form-section {
    .content {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      padding: 40px 8px;

      .contact-info {
        width: auto;
      }

      form {
        width: 100%;
        // max-width: 420px;
      }
    }
  }
}
