@import "../globals/_variables";

.listings-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 120px 16px;

  .listings-content {
    width: 100%;
    max-width: $max-content-w;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    header {
      width: 100%;
    }

    .listings-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 24px;

      h2 {
        width: 100%;
      }

      .listing-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: auto;
        background-color: #fff;
        box-shadow: 0 15px 15px #00000013;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: auto;
          max-height: 250px;
          object-fit: cover;
          object-position: center;
        }

        .text {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px;

          .card-header {
            p {
              margin-bottom: 4px;
            }
          }

          .card-content {
            display: flex;
            flex-direction: column;
            gap: 4px;
          }

          .size-container {
            display: flex;

            .spacer {
              padding: 0 8px;
            }
          }
        }
      }
    }
  }
}
