@import "../globals/_variables";

.about-short-section {
  display: grid;
  place-items: center;
  padding: 80px 16px;
  margin-top: 109px;

  .about-short-content {
    width: 100%;
    max-width: $max-content-w;

    display: flex;
    justify-content: center;
    gap: 40px;

    .image {
      position: relative;
      min-width: 355px;
      height: 355px;
      // min-height: 450px;
      background-image: url(../../../assets/images/about-portrait.png);
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(30deg, #7ceb66d5 30%, #ffffff00);
        mix-blend-mode: screen;
      }
    }

    .text-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      // width: 100%;
      max-width: 480px;

      h3 {
        margin-bottom: 16px;
      }

      h1 {
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 16px;
      }

      a {
        left: 0;
        text-decoration: none;
      }
    }
  }
}

/* Media query for tablets (max-width: 1024px) */
@media (max-width: 821px) {
  .about-short-section {
    .about-short-content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .image {
        // width: 50%;
        // min-height: 20rem;
        background-size: cover;
        background-position: center top;
      }

      .text-wrapper {
        width: auto;
        align-items: center;
        text-align: center;
      }
    }
  }
}

/* Media query for mobile devices (max-width: 768px) */
@media (max-width: 768px) {
  .about-short-section {
    padding: 40px 8px;
  }
}
