@import "../globals/_variables";

.services-short-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 16px 160px 16px;
  flex-wrap: wrap;
  gap: 40px;

  .services-short-heading {
    width: 100%;
    text-align: center;
    z-index: 2;
  }

  .services-short-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: $max-content-w;
    gap: 40px;
    justify-content: center;

    .services-short-card {
      position: relative;
      width: calc(50% - 20px);
      background-color: $bg-color;
      box-shadow: 0 25px 40px #8d8d8d2a;
      // margin-bottom: 40px;

      .services-short-img-container {
        position: relative;
        width: 100%;
        height: 240px;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #47c94d8e;
          mix-blend-mode: darken;
        }

        .services-short-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .text-container {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
          font-weight: 600;
        }

        p {
          display: -webkit-box; /* Fallback for older browsers */
          -webkit-line-clamp: 4; /* Number of lines you want to show */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis; /* Add ... at the end */
          line-height: 1.5; /* Adjust this based on your text size */
          max-height: calc(1.5em * 4); /* Adjust the height to 3 lines */
          margin-bottom: 36px;
        }

        a {
          position: absolute;
          bottom: 20px;
          right: 20px;
          color: $acc-color;
          font-family: $heading-font;
          text-decoration: none;
          font-size: $l-card-para;
        }
      }
    }
  }
}

@media screen and (max-width: 635px) {
  .services-short-section {
    padding: 40px 8px;

    .services-short-heading {
      text-align: left;
    }
    .services-short-content {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      gap: 20px;

      .services-short-card {
        width: 100% !important;
        max-width: unset;
      }

      button {
        width: 100%;
      }
    }
  }
}
