// Sizes
$max-content-w: 1200px;

// Colors
$bg-color: #f6f6f6;
$prim-color: #d4e1bb;
$sec-color: #aa9f7a;
$acc-color: #568f45;
$txt-color: #504f4f;
$prim-bord: #a5bea1;

// Typography
$heading-font: "Bebas Neue", sans-serif;
$para-font: "Open Sans", sans-serif;

// Hero/header sections
$hero-heading: 72px;
$hero-subheading: 24px;

// Content area
$l-heading: 56px;
$l-para: 18px;

// Cards
$card-heading: 22px;
$card-para: 16px;

$l-card-heading: 24px;
$l-card-para: 18px;

// Buttons
$l-btn-txt: 22px;
$s-btn-txt: 16px;
