@import "./_variables";

// Reset
*,
body,
html,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global style
body {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;
  font-family: $para-font;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: $heading-font;
  line-height: 0.8;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.bg-dk-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Text color
.dk-txt {
  color: $txt-color;
}

.lt-txt {
  color: $bg-color;
}

.pr-txt {
  color: $prim-color;
}

// Text sizes

//Nav text
.nav-txt {
  font-family: $heading-font;
  font-size: $card-para;
}

// hero headings
.h-h {
  font-size: $hero-heading;
}

.h-sub {
  font-size: $hero-subheading;
}

// large heading (content area)
.l-h {
  font-size: $l-heading;
}
// large paragraph (content area)
.l-p {
  font-size: $l-para;
}

// card heading
.c-h {
  font-size: $card-heading;
}
//card paragraph
.c-p {
  font-size: $card-para;
}

// Buttons
.l-btn {
  font-size: $l-btn-txt;
  border: none;
  padding: 14px 22px 10px 22px;

  &.prim {
    background-color: $prim-color;
    color: $acc-color;
  }

  &.acc {
    background-color: $acc-color;
    color: $bg-color;
  }
}

.s-btn {
  font-size: $s-btn-txt;
  border: none;
  padding: 12px 20px 8px 20px;

  &.prim {
    background-color: $prim-color;
    color: $acc-color;
  }

  &.acc {
    background-color: $acc-color;
    color: $bg-color;
  }
}

// Bg colors
.prim-bgc {
  background-color: $prim-color;
}

.acc-bgc {
  background-color: $acc-color;
}
